@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap");

body {
  font-family: "Dosis", sans-serif;
  color: white;
  background-color: #d85650;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid #c24d47;
  padding: 0% 3% 0% 3%;
  margin: 1rem;
}

.logo h1 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.logo {
  gap: 0.2rem;
}

.miniflex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbuttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.navbuttons button {
  cursor: pointer;
  padding: 0.3rem;
}

.navbuttons button.miniflex p {
  display: none;
}

button {
  border: none;
  border-radius: 5px;
  background-color: #e1756f;
}

button p {
  color: white;
  font-weight: bold;
}

.timerbox {
  background-color: #e1756f;
  border-radius: 5px;
  margin: 0 1rem 0 1rem;
}

.options {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem 0 1rem;
}

.options button {
  border-radius: 5px;
}
.options button p {
  margin: 0.5rem;
  font-weight: lighter;
  font-size: 0.7rem;
}

.options button:hover {
  border-radius: 5px;
  background-color: #bc5853;
}

.options button p:hover {
  font-weight: bolder;
}

.timerbox p span {
  font-size: 6rem;
  display: flex;
  justify-content: space-around;
}

.startbutton {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1.5rem;
}

.start {
  background-color: white;
  box-shadow: 0 7px rgb(240, 239, 239);
}

.start p {
  color: #d85650;
  font-size: 1.5rem;
  padding: 1rem 2rem 1rem 2rem;
  margin: 0;
  font-family: "Dosis", sans-serif;
  width: 8rem;
}

.workingon {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: lighter;
}

.workingon p:first-child {
  font-size: 0.7rem;
  font-weight: lighter;
  color: #e88f8b;
  margin-bottom: 0;
}

.workingon p:last-child {
  margin-top: 0.2rem;
  font-size: 0.9rem;
}

@media only screen and (min-width: 600px) {
  .navbuttons button.miniflex p {
    display: inline;
    font-weight: lighter;
  }
}
